* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 스크롤 바가 작동할 때 보이게 합니다. */
::-webkit-scrollbar {
  scrollbar-width: thin; /* Firefox에 대응하기 위한 설정 */
  scrollbar-color: transparent transparent; /* Firefox에 대응하기 위한 설정 */
  -webkit-overflow-scrolling: touch; /* iOS에서 부드러운 스크롤을 위한 설정 */
  width: 8px; /* 스크롤 바의 너비를 조정할 수 있습니다. */
  height: 8px; /* 수직 스크롤바의 높이를 조정할 수 있습니다. */
  background-color: transparent; /* 스크롤 바의 배경색을 설정합니다. */
}

/* 스크롤 바의 track(슬라이더의 경로) 스타일을 설정합니다. */
::-webkit-scrollbar-track {
  background-color: transparent; /* 스크롤 바의 배경색을 설정합니다. */
}

/* 스크롤 바의 thumb(슬라이더) 스타일을 설정합니다. */
::-webkit-scrollbar-thumb {
  padding: 1px;
  background-color: rgba(0, 0, 0, 0.2); /* 스크롤 바의 색상을 설정합니다. */
  border-radius: 4px; /* 스크롤 바의 모서리를 둥글게 만듭니다. */
}

/* 스크롤 바가 작동할 때 보이게 합니다. */
body {
  scrollbar-width: none; /* Firefox에 대응하기 위한 설정 */
  -ms-overflow-style: none; /* IE 및 Edge에 대응하기 위한 설정 */
  overflow: hidden; /* 기본 스크롤 바를 숨기기 위한 설정 */
}
